@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.mainNav{
  li{
    display: inline;
  }
}

.homeBanner {
  background-color: grey; /*Add background image*/
  height: 467px;
  margin: auto 31px;
  font-size: 71px;
}

.ticketTitle{
  background-color: lightblue;
  min-height: 45px;
}

.ticketDescription{
  background-color: orange;
  min-height: 406px;
  margin-bottom: 61px;
}

.slick-arrow {
//Disable default left arrow on react-slick
  &.slick-prev {
    left: 100px;
  }
//Disable default right arrow on react-slick
  &.slick-next {
      right:100px;
  }
}

.slick-current {
  background-color: #d6b02e;
  font-weight: bold;
  color: black;
}
